html {
    scroll-behavior: smooth;
}
body {
    background-color: #F2EEDE;
    color: #3c3836;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu Mono', monospace;
    p {
        color: #3c3836 !important;
        font-size: 17px;
    }
    a {
        color: #076678 !important;
    }
    h1, h2, h3, h4, h5, h6, .date {
        color: #586e75 !important;
    }
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    p {
        font-size: 15px !important;
    }
}
nav {
    max-width: 880px;
    margin:auto;
}
.navbar-toggler {
    border: 0 !important;
    &:focus {
        box-shadow: none !important;
    }
}
#hastylink {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    text-align: center;
}
.logo {
    margin-top: 20vh;
}
.page-wrapper {
    padding: 10px 40px;
}
.social-link {
    color: #000 !important;
    &:hover {
        color: #496bb4 !important;
    }
}
nav {
    // padding: 0% 15%;
    .navbar-brand {
        font-size: 1rem !important;
    }
    .navbar-nav {
        margin-left: auto;
        .nav-link:hover {
            text-decoration: underline;
        }
    }
}
#theme-switch {
    cursor: pointer;
}
.btn-check {
    &:active + .btn-outline-light, &:checked + .btn-outline-light {
        background-color: transparent !important;
        color: #60c489 !important;
    }
}
.btn-outline-light {
    &.active, &.dropdown-toggle.show, &:active {
        background-color: transparent !important;
        color: #60c489 !important;
    }
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
    box-shadow: none !important;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
