 @media only screen and (max-width: 500px) {
    p {
        font-size: 14px !important;
    }
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
    footer {
        background-color: #F2EEDE;
        p {
            font-size: 13px !important;
        }
    }
    .page-wrapper {
        padding: 10px 12px;
    }
    .logo {
        margin-top: 12vh;
    }
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }
}
