.project-cards {
    .card {
        background-color: transparent;
        border: 1px solid #fff;
        .card-body {
            p { margin: 10px 0px; }
        }
        &:hover {
            .card-body {
                p { color: #60c489!important; }
            }
        }
    }
}
