<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 text-center">
                <p class="m-0">Made with &#9829; and <a target="_blank" href="https://www.getzola.org/">zola</a> 2021 </p>
                <p> contact me at: <b>jason@jasonhilder.dev</b> </p>
            </div>
        </div>
    </div>

    <!-- adding bootstrap js -->
    <script type="text/javascript" src="{{ get_url(path='js/bootstrap.bundle.min.js')}}"></script>
</footer>
