<head>
    <title>Jason Hilder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="{{ get_url(path='images/favicon.ico') }}"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8VVWSM9P5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M8VVWSM9P5');
    </script>
    <script defer type="text/javascript" src="{{ get_url(path='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{ get_url(path='css/chota.min.css')}}">
    <!-- custom scss overrides -->
    <link href="/style.css" rel="stylesheet">
</head>
