 <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"> jasonhilder.dev </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <span id="theme-switch" class="nav-link">Dark Mode</span>
                <!-- <a class="nav-link" href="/articles">Musings</a> -->
                <a class="nav-link" href="mailto:jason@jasonhilder.dev">Contact Me</a>
            </div>
        </div>
    </div>
</nav>
