{% extends "base.html" %}

{% block content %}
    <main>
        <section id="articles-list">
            <p>{{section.title}}</p>
            {% if section.pages|length %}
                <ul class="blog-posts">
                    {% for article in section.pages %}
                        {% if article.draft == false %}
                            <li>
                                <small>{{ article.date }}</small> &gt; <a href="{{ article.permalink | safe }}">{{ article.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Currently no articles.</p>
            {% endif %}
        </section>
        <hr>
        {% include "partials/social_icons.html" %}
    </main>
{% endblock content %}
