{% extends "base.html" %}

{% block content %}
    <main>
        <section id="articles-list">
            <p>{{section.title}}</p>
            {% if section.pages|length %}
                <ul class="blog-posts">
                    {% for article in section.pages %}
                        {% if article.draft == false %}
                            <li>
                                <a href="{{ article.permalink | safe }}">{{ article.title }}</a>
                            </li>
                            <small style="margin-left:5px;">Published: {{ article.date }}</small>
                            {% if article.updated %}
                                | <small>Modified: {{article.updated}}</small>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Currently no articles.</p>
            {% endif %}
        </section>
        <hr>
        {% include "partials/social_icons.html" %}
    </main>
{% endblock content %}
