{% extends "base.html" %}

{% block content %}
    {% include "partials/coffee_cup.html" %}
    {% include "partials/social_icons.html" %}
    <br class="">
    <section id="intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 text-center">
                    <p style="letter-spacing: 1.5px;">
                        <strong> Hi, I'm Jason from sunny Durban, South Africa </strong>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 text-center">
                    <p class="text-ender">
                        I am a full time software developer as well as an aspiring
                        <a target="_blank" href="https://www.google.com/search?q=rustacean">Rustacean</a>
                        who attempts to keep up with the ever evolving world of tech along with very sporadic attempts at writing.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-11">
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-12 text-center">
                    <p>
                    <a target="_blank" href="https://github.com/jasonhilder">Github</a> | <a href="/entries">Entries</a> | <a href="/files/cv.html" target="_blank">Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
