{% extends "base.html" %}

{% block content %}
    {% include "partials/coffee_cup.html" %}
    {% include "partials/social_icons.html" %}
    <br>
    <section id="intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 text-center">
                    <p style="letter-spacing: 1.5px;">
                        <strong> Hi, I'm Jason from sunny Durban, South Africa </strong>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 text-center">
                    <p class="text-ender"> I am a full time software developer aswell as an aspiring part time Rustacean who attempts to keep up with the ever evolving world of tech along with very sparatic attempts at writing all while making money writing software to buy surfboards and keyboards along the way. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <hr>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-12 text-center">
                    <p>
                        <a target="_blank" href="https://github.com/JSONhilder">Github</a> | <a href="/articles">Musings</a> | <a href="/files/cv.html" target="_blank">Resume</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
